body {
    overflow-y: scroll;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
    background: #5ec5ea;
    box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
    width: 2px;
    border-radius: 100px;
    -webkit-animation: ease 0.5s infinite;
    -moz-animation: ease 0.5s infinite;
    animation: ease 0.5s infinite;
}

.title_topic {
    font-size: 35px;
    font-weight: bold;
    color: #000;
    margin-top : 2%;
    margin-left : 2%;
    margin-bottom : 2%;
}

button {
    background: transparent;
    color: inherit;
    cursor: pointer;
    border-radius: 50px;
    margin-top : 2%;
    padding: 10px;
}

#rep {
    background: transparent;
    color: inherit;
    cursor: pointer;
    border-radius: 50px;
    margin-top : 2%;
    padding: 10px;
}

#rep:hover {
    background: #82d962;
    color: inherit;
    cursor: pointer;
    border-radius: 50px;
    margin-top : 2%;
    padding: 10px;
}

button:hover {
    background: #b61a1a;
    color: #fff;
}

.post-feed {
    display: flex;
    flex-direction: row;
    border: none;
    background: #F6F1F1FF;
    box-shadow: #4c4c52 0px 0px 3px;
    border-radius: 10px;
    max-width: 2000px;
    margin: 5%;
}

.left-part-feed {
    width: 15%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-part-feed img {
    width: 60%;
    border-radius: 10px;
    margin: 5%;
}

.right-part-feed {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1%;
}

#boutonflex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

#delbut {
    color: inherit;
    cursor: pointer;
    border-radius: 50px;
    margin-top : 2%;
    padding: 10px;
    margin-left: 1em;
}

.response-feed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.response-feed p  {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#response-number-feed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: 1.5em;
    border: none;
    cursor: pointer;
    box-shadow: rgba(206, 201, 201, 0) 0px 0px 3px;
    border: #23a6d5 1px solid;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

#response-button-feed {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.1em;
    margin: 0.1em;
    font-size: 1em;
    cursor: pointer;
    background: #5ec5ea;
}

.post-feed {
    margin: 1%;
}

#rep-man {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 14px;
    background-color: #eae5e5;
}

#rep-man div {
    margin: 0.5em;
}

#content-feed {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 16px;
    margin-top: 1em;
}
