#footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2em;
}
#footer a, #footer p {
    color: #2b3373;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
    margin: 0.1em;
}
#footer a:hover {
    color: #3498db;
}