.title_topic {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    margin-top : 2%;
    margin-left : 2%;
    margin-bottom : 2%;
}

button {
    background: transparent;
    color: inherit;
    cursor: pointer;
    border-radius: 50px;
    margin-top : 2%;
    padding: 10px;
}

button:hover {
    background: #b61a1a;
    color: #fff;
}

.post-feed {
    display: flex;
    flex-direction: row;
    border: none;
    background: #F6F1F1FF;
    box-shadow: #4c4c52 0px 0px 3px;
    border-radius: 10px;
    max-width: 2000px;
    margin: 5%;
}

.left-part-feed {
    width: 15%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-part-feed img {
    width: 60%;
    border-radius: 10px;
    margin: 5%;
}

.right-part-feed {
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1%;
}

.right-part-feed div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 2px;
}

.response-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-size: 25px;
}

.response-feed p  {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#response-number-feed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: 1.5em;
    border: none;
    cursor: pointer;
    box-shadow: rgba(206, 201, 201, 0) 0px 0px 3px;
    border: #23a6d5 1px solid;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

#response-button-feed {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0.1em;
    margin: 0.1em;
    font-size: 1em;
    cursor: pointer;
    background: #5ec5ea;
}