
blockquote{
    width: 50%;
}
.topic{
    margin-top: -35%;
}
.message{
    margin: -5% 0% 0% -10%;
    height: auto;
}
.replace{
    margin-left: -26%;
}
.title_topic{
    position: absolute;
    color: black;
    font-size: 1.5em;
    margin-top: -37%;
    margin-left: 7.5%;
}
body{
    background: #4c4c52;
}

.post-feed {
    margin: 0;
}

