@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat+Alternates');

/*          Notification        */
.frame {
    color: #b2a3a3;
    font-family: 'montserrat alternates', sans-serif;
}

.panel {
    position: absolute;
    z-index: 1;
    height: 600px;
    width: 300px;
    top: 17%;
    left: 2%;
    background: #151A3B;
    overflow: hidden;
    box-shadow: .5rem .5rem 1rem 0 rgba(0, 0, 0, 0.4);
    transition: all .5s ease-in-out;
    border-radius: 10px;

}
.panel.show-menu {
    transform: translate3d(150px, 0, 0);
}
.panel .header {
    height: 50px;
    width: 100%;
    font-family: 'josefin sans', serif;
}

.panel .header .menu-icon {
    position: absolute;
    width: 29px;
    height: 15px;
    top: auto;
    left: 20px;
    cursor: pointer;
}
.panel .header .menu-icon:hover .dash-top {
    transform: translate(.6rem);
    transition: .5s;
}
.panel .header .menu-icon:hover .circle-1 {
    transform: translate(-1.6rem);
    transition: .5s;
}
.panel .header .menu-icon .dash-top, .panel .header .menu-icon .dash-bottom {
    position: absolute;
    width: 20px;
    height: 4px;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 1px;
    transition: all .2s ease-in-out;
}
.panel .header .menu-icon .dash-bottom {
    width: 29px;
    top: auto;
    bottom: 0;
}
.panel .header .menu-icon .circle {
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 4px;
    top: -2px;
    right: 0;
    background: #fff;
    transition: all .2s ease-in-out;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel .header .title {
    color: #fff;
    font-size: 1.4rem;
}

.panel .notifications {
    position: relative;
    height: 85%;
    overflow-y: scroll;
}
.panel .notifications .line {
    position: absolute;
    top: 0;
    left: 20px;
    bottom: -325px;
    width: 3px;
    background: #EBEBEB;
    animation: appear .5s;
}
@keyframes appear {
    0% {
        transform: translateY(-20rem);
    }
    100% {
        transform: translateY(0rem);
    }
}
.panel .notifications .notification {
    position: relative;
    z-index: 2;
    margin: 20px 20px 25px 43px;
    transition: all .2s;
}
.panel .notifications .notification:nth-child(2) {
    animation: here-am-i 0.5s ease-out 0.4s;
    animation-fill-mode: both;
}
.panel .notifications .notification:nth-child(3) {
    animation: here-am-i 0.5s ease-out 0.6s;
    animation-fill-mode: both;
}
.panel .notifications .notification:nth-child(4) {
    animation: here-am-i 0.5s ease-out 0.8s;
    animation-fill-mode: both;
}
.panel .notifications .notification:hover {
    background: #1d2652;
    box-shadow: 0 0 0 1.1em #1d2652;
    cursor: pointer;
}
.panel .notifications .notification .circle {
    box-sizing: border-box;
    position: absolute;
    height: 11px;
    width: 11px;
    background: #fff;
    border: .18rem solid #643a7a;
    box-shadow: 0 0 0 3px #fff;
    border-radius: 6px;
    top: 0;
    left: -28px;
}
.panel .notifications .notification .time {
    display: block;
    font-size: .75rem;
    line-height: 11px;
    margin-bottom: 2px;
}
.panel .notifications .notification p {
    line-height: 20px;
    margin: 0;
    font-size: 1.1rem;
}
.panel .notifications .notification p b {
    font-weight: 600;
}

@keyframes here-am-i {
    from {
        transform: translate3d(0, 50px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}