/*          Filière         */
.faculty{
    float: left;
    width: 350px;
    text-align: center;
    margin: 2em;
}

#formFaculty{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.faculty input{
    width: 290px;
    border-radius: 10px;
    height: 5vh;
    font-size: 1.1em;
    background: #151A3B;
    color: #b2a3a3;
    margin-bottom: 1%;
    transition: all 0.3s;
    border: none;
}
.faculty input:hover {
    cursor: pointer;
    color: white;
    transform: translateX(-5%);
}
#Info:hover{
    background: #5ec5ea;
}
#Crea:hover{
    background: #85d134;
}
#Archi:hover{
    background: #3ca55b;
}
#Audio:hover{
    background: #e5b702;
}
#Market:hover{
    background: #f07d1a;
}
#Digit:hover{
    background: #ff0582;
}
#Jeux:hover{
    background: #cf3cd3;
}
#Web:hover{
    background: #2850b2;
}
#Life:hover{
    background: red;
}
#Admin:hover{
    background: dimgray;
}
a{
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat+Alternates');
