/*          Footer          */
.footer{
    float: right;
    margin-top: 1%;
    margin-right: 1.5%;
    width: 300px;
    text-align: start;
}
.footer ul li{
    list-style: none;
    color: black;
    margin-left: -15%;
}
.footer ul li:hover{
    color: white;
}