
/*  Commande pour masquer scroll barre  */
/* Webkit browsers (Chrome, Safari) */

::-webkit-scrollbar {
    display: none;
}

/* MS Browsers (Edge, Internet Explorer) */

* {
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch; /* Touch scroll by default */
}

body{
    background: #f1f2f3;
}

.sort {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #f1f2f3;
}

.sortbutton {
    background-color: #1d2652;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
}

