/*          Post            */
blockquote {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    width: 30%;
    min-height: 40px;
    /*height: 150px;*/
    margin: 40px auto;
    letter-spacing: 2px;
    font-family: Open Sans, serif;
    font-style: italic;
    color: white;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 150px solid #025e93;
    line-height: 1.6;
    position: relative;
    background: #23313c;
    border-radius:  0 20px 0 20px;
}

blockquote::before {
    font-family: Arial, serif;
    content: "\201C";
    color: #78c0a8;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
    display: inline-block;
}

.inline-heading {
    display: inline-block;
}

blockquote::after {
    content: "";
}
.replace{
    margin-left: -44%;
    margin-right: 20%;
}
.profil{
    max-width: 110px;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profil img{
    max-width: 100px;
    width: 100px;
    border-radius: 20px;
}
.referencement img{
    margin-left: 6%;
}
blockquote img{
    max-width: 20px;
    margin-right: 2%;
}
blockquote img:hover{
    cursor: pointer;
}
.message {
    max-width: 100%;
    min-width: 100% !important;
    min-height: 100%;
    width: 100%;
    height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
    font: normal 14px "Lato", Arial, Helvetica, sans-serif;
    color: white;
    margin: -40% auto;
}
.post{
    height: 50%;
}