<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TEST</title>
    </head>
    <body>
        <form method="POST">
            <label>titre
                <input type="text" name="titre">
            </label><br/>
            <label>artiste
                <input type="text" name="artiste">
            </label><br/>
            <label>prix
                <input type="text" name="prix">
            </label><br/>
            <input type="submit" value="test">
        </form>
    </body>
</html>