<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <p>Vous êtes dans la difficulté normale, à vous de sauver Noupie.</p>
        <form method="POST">
            <input type="text" name="userinput"><br/>
            <input type="submit" value="Essayer cette lettre">
        </form>
        <div class="hang">
            <img src="/images/hangman {{.Lives}}.png" alt="hangman">
        </div>
    </body>
</html>