<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TEST</title>
    </head>
    <body>
        <form method="POST">
            <input type="text" name="titre"><br/>
            <input type="text" name="artiste"><br/>
            <input type="text" name="prix"><br/>
            <input type="submit" value="test">
        </form>
    </body>
</html>