*{
    font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
}

body{
    margin: 0;
}
/*  Commande pour masquer scroll barre  */
/* Webkit browsers (Chrome, Safari) */

::-webkit-scrollbar {
    display: none;
}

/* MS Browsers (Edge, Internet Explorer) */

* {
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch; /* Touch scroll by default */
}

body{
    background: #4c4c52;
}
