
#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#intro img{
    margin-top: 3%;
    width: 100px;
}
#intro p {
    margin-top: 3%;
    width: 50%;
    text-align: center;
    font-size: 1.5em;
}
#referencement div{
    margin-top: 3%;
    background-color: #f2f6f7;
    width: 250px;
    height: 200px;
    text-align: center;
    font: normal 18px "Lato", Arial, Helvetica, sans-serif;
}
#referencement{
    display: flex;
    justify-content: space-evenly;
}
