#tit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #0c0d0e;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#titre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3px;
    color: #000000;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-right: 500px;
    margin-left: 50px;
}

#placetitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#placedescription {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#sous-titre {
    opacity: 0.9;
    color: #000000;
    font-size: 15px;
    margin-bottom: 10px;
}

#title {
    resize: none;
    rows: auto;
    width: 100%;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#description {
    resize: none;
    rows: auto;
    width: 100%;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#tags {
    color: #18191b;
    resize: none;
    rows: auto;
    width: 100%;
    height: 50px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

#toolbar {
    display: flex;
    justify-content: flex-start;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#listbox {
    display: flex;
    justify-content: flex-start;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    list-style: none;
    padding-inline: 50px;
}

#listbox li {
    display: flex;
    justify-content: flex-start;
    color: #000000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    list-style: none;
    border: 1px solid #000000;
}

#submit {
    background-color: #6e6e6e;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #0c0d0e;
}

#boutonimage {
    background-color: #6e6e6e;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 20px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #0c0d0e;
}
