
.choix_profil{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 1.2%;
    background-color: lightgray;
    padding: 5px 0 5px 0;
}
.choix_profil span {
    font-family: 'Teko', sans-serif;
    color: black;
    font-size: 0.9em;
}

.choix_profil span:hover{
    cursor: pointer;
}

.pseudo_profil{
    width: 250px;
    padding-top: 2%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 3%;
    background-color: lightgray;
    border: solid 1px black;
}
.pseudo_profil img{
    width: 100px;
    border-radius: 20px;
}
.recap{
    position: absolute;
    width: 60%;
    margin-top: 5%;
    margin-left: 10%;
}
.title{
    display: flex;
    height: 100px;
    background-color: lightgray;
    justify-content: space-evenly;
    align-items: center;
}
.title:hover{
    border: solid 1px black;
}
.right{
    position: fixed;
    margin-top: -12.5%;
    margin-left: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.thematique{
    font-size: 1.5em;
    font-weight: bold;
}

.hidden {
    display: none;
}
.active{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 6px;
}

.TitleProfil {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1%;
    margin-left: 1%;
    display: flex;
}

#footer-profil {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(211, 211, 211, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#footer-profil a, #footer-profil p {
    color: #2b3373;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
    margin: 0.1em;
}
#footer-profil a:hover {
    color: #3498db;
}